In [1]:
#Declare a float value and store it in a variable. 

a = 10.01

#Check the type and print the id of the same.

print(type(a) is float)
print(id(a))

True
3157230348656

In [13]:
#Arithmatic Operations on float
#Take two different float values.
#Store them in two different variables.

#Do below operations on them:-
    #Find sum of both numbers

    #Find differce between them
    #Find the product of both numbers.

    #Find value after dividing first num with second number

    #Find the remainder after dividing first number with second number

    #Find the quotient after dividing first number with second number

    #Find the result of first num to the power of second number.
    
a = 10.55
b = 5.20

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

15.75
5.3500000000000005
54.86000000000001
2.0288461538461537
0.15000000000000036
2.0
209369.19830611025

In [14]:
#Comparison Operators on float
#Take two different float values.
#Store them in two different variables.

#Do below operations on them:-
    #Compare these two numbers with below operator:-
        #Greater than, '>'

        #Smaller than, '<'

        #Greater than or equal to, '>='

        #Less than or equal to, '<='

#Observe their output(return type should be boolean)

a = 10.55
b = 5.20

print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
True
False

In [15]:
#Equality Operator
#Take two different float values.
#Store them in two different variables.

#Equuate them using equality operator (==, !=)

#Observe the output(return type should be boolean)

a = 10.55
b = 5.20

print(a==b)
print(a!=b)

False
True

In [21]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

'''and looks for False, if not found gives last true'''
print(10.20 and 20.30)       #True and True = Second True = 20.30    #both are true and second value taken >Output is 20.3
print(0.0 and 20.30)         #False and True = False = 0.0        #First is false so first value taken->Output is 0.0
print(20.30 and 0.0)         #True and False = False = 0.0        #Goes to till second and second value is false so second is taken>Output is 0.0
print(0.0 and 0.0)           #False and False = First False = 0.0  #First is false so first value is taken->Output is 0.0

'''or looks for True, if not found gives last false'''
print(10.20 or 20.30)        #True or True = First True = 10.20     #First is True so first value is taken>Output is 10.2
print(0.0 or 20.30)          #False or True = True = 20.30          #Goes to till second and second is true second value is taken->Output is 20.3
print(20.30 or 0.0)          #True or False = True = 20.30          #First is True so first value is taken->Output is 20.3
print(0.0 or 0.0)            #False or False = Second False = 0.0 #Goes to till second and secod is also false and second value is taken>Output is 0.0

print(not 10.20)             #Not True = False               #Not of true is false->Output is False
print(not 0.0)               #Not False = True               #Not of false is True>Output is True

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

In [25]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10.20
b = 10.20
print(a is b)          #True or False? False - Id not same
print(a is not b)      #True or False? True - Id not same

# Why the Id of float values are different when the same value is assigned to two different variables
'''object reusability is not applicable for float variables. So id is not same. \
Object reusability only applicable for integer in range (-5,256), String (a-z, A-Z , 0-9), boolean and None '''

False
True

'object reusability is not applicable for float variables. So id is not same. Object reusability only applicable for integer in range (-5,256), String (a-z, A-Z , 0-9), boolean and None '

In [27]:
#Bitwise operation is not applicable between instances of float.
'''In bit representation of float, In 32 bit, first bit is sign, nex 8 is exponent & last 23 is fraction. \
Hence bitwise operation is not feasible.'''

'In bit representation of float, In 32 bit, first bit is sign, nex 8 is exponent & last 23 is fraction. Hence bitwise operation is not feasible.'

In [19]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8')              # string 2.7 present in string        # True
print(10.20 in [10,10.20,10+20j,'Python']) # 10.20 present in list               # True
print(10.20 in (10,10.20,10+20j,'Python')) # 10.20 present in tuple              # True
print(20.30 in {1,20.30,30+40j})           # 20.30 present in set                # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # 2.3 present as key in dictionary    # True
print(10 in range(20))                     # 10 present in range (0,20)          # True

True
True
True
True
True
True

## Completed